@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Port+Lligat+Sans&display=swap");
@font-face {
  font-family: thirsty;
  src: url(../../../../assets/Thirsty.ttf);
}
@font-face {
  font-family: muchosanslight;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}
body {
  width: 100%;
  height: 100%;
}

.logo-div {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333333;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
  padding: 0px;
  align-items: baseline;
}

#basic-navbar-nav.navbar-collapse.collapse {
  height: 80px !important;
  font-family: muchosanslight;
  border: yellow;
}
button.navbar-toggler{
  background-color: darkgoldenrod;


}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-link {
  color: lightgrey!important;
  font-size: 22px;
  cursor: pointer;
  float: left;
  font-family: muchosanslight;
}

@media (min-width: 996px) {
    #basic-navbar-nav.navbar-collapse.collapse {
        height: 30px !important;
        justify-content: flex-end;
      }
}
