#footer {
  position: relative;
  left: 0;
  bottom: 0;
  /* width: 100vw; */
  background-color: rgb(60, 56, 54);
  color: white;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.f-f, .s-f, .f-i, .t-f {
  position: relative;
  width: 100%;
  height: auto;
  
}

@media (min-width: 0px) and (max-width: 400px) {

  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .f-f, .s-f {
    align-self: center;
    width: 80%;
    height: auto;
    padding-top: 20px;
  }
  .f-i, .t-f {
    align-self: center;
    width: 50%;
    height: auto;
  }

}

@media (min-width: 401px) and (max-width: 600px) {

  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .f-f, .s-f {
    align-self: center;
    width: 80%;
    height: auto;
    padding-top: 20px;
  }
  .f-i, .t-f {
    align-self: center;
    width: 50%;
    height: auto;
  }

  

}

@media (min-width: 601px) and (max-width: 768px) {

  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f-f, .s-f {
    align-self: center;
    width: 80%;
    height: auto;
    padding-top: 20px;
  }
  .f-i, .t-f {
    align-self: center;
    width: 25%;
    height: auto;
  }
  /* .f-f, .s-f {
    font-size: 22px;
  }

  .f-f {
    width: 100% !important;
  }
  
  .s-f {
    width: 80%;
  
  } */

}

@media (min-width: 769px) and (max-width: 992px) {

  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f-f, .s-f {
    align-self: center;
    width: 80%;
    height: auto;
    padding-top: 20px;
  }
  .f-i, .t-f {
    align-self: center;
    width: 25%;
    height: auto;
  }

}

@media (min-width: 993px) and (max-width: 1382px) {

  #footer {
    flex-direction: row;
  }
  .f-f {
    padding-top: 80px;
  }
  .f-i {
    width: 40%;
    height: auto;
    padding-top: 50px;
  }
  .t-f {
    width: 25%;
    height: auto;
    padding: 50px;
  }
/* div.s-f {
  margin: 0px 0px 0px 60px;

}
 .f-i {
  margin: 30px 0px 30px;

}

.t-f {
  margin: 40px 0px 0px 10px;
}
  .f-f,
  .s-f {
    font-size: 17px;
  }
  .f-f {
    width: 28% !important;
    padding-top: 45px;
    left: -10%!important;
  }

  .s-f {
    width:37%;
    margin: 0px;
    left: 8%!important;
  }

  .t-f {
    /* padding-top: 70px !important; */
 

}

@media (min-width: 1383px) {
  
  #footer {
    flex-direction: row;
  }

  .f-f {
    padding-top: 80px;
  
  }
  .f-i {
    width: 40%;
    height: auto;
    padding-top: 50px;
  }
  .t-f {
    width: 25%;
    height: auto;
    padding: 50px;
  }

}
