
#footer {
  text-align: center;
  color: grey!important;
  width: 99%;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  z-index: 100;
  padding: 0;
  background-color: #282828!important;
  margin:0;
  padding: 0;
}

.footer-color {
  background-color: #282828!;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.contact {
  position: absolute;
}

.brand-romanesc {
  margin: 1%;
  position: absolute;
}

.produse-romanesti {
  position: absolute;
  margin: 1%;
}

.anpc {
  text-decoration: none;
  color: white;
}

.politica-de-confidentialitate {
  float: right;
  text-decoration: none;
  color: white;
}
.anpc.brand-romanesc a:hover {
  color: #6b6b6b;
}

.anpc.brand-romanesc a:visited {
  color: #6b6b6b;
}

.anpc.brand-romanesc a:active {
  color: #6b6b6b;
}

.anpc.brand-romanesc a:link {
  color: #6b6b6b;
}

@media (min-width:0px) and  (max-width: 400px) {
  #footer {
    height: 200px!important;
    top: 800px!important;
  }
  
  .contact {
    left: 10px;
    top: 40px;
  }
  
  .brand-romanesc {
    display: none!important;
  }
  
  .produse-romanesti {
   display: none!important;
  }
}


@media (min-width: 401px) and  (max-width: 600px) {
  #footer {
    height: 200px;
    top: 1700px;
  }
  
  .contact {
    left: 13vw;
    top: 40px;
  }
  
  .brand-romanesc {
    display: none;
  }
  
  .produse-romanesti {
    display: none;
  }
  
}

@media (min-width: 601px) and  (max-width: 768px) {
  #footer {
    height: 200px;
    top: 1800px;
  }
  
  .contact {
    left: 10%;
    top: 40px;
  }
  
  .brand-romanesc {
    height: 70px;
    left: 114%;
    top: 10px;
  }
  
  .produse-romanesti {
    height:70px;
    left: 140%;
    top: 88px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #footer {
    height: 200px;
    top: 1900px;
  }
  
  .contact {
    left: 40px;
    top: 40px;
  }
  
  .brand-romanesc {
    height: 90px;
    left: 114%;
    top: 10px;
  }
  
  .produse-romanesti {
    height:90px;
    left: 170%;
    top: 68px;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  #footer {
    height: 200px;
    top: 2200px;
  }
  
  .contact {
    left: 10vw;
    top: 60px;
  }
  
  .brand-romanesc {
    height: 100px;
    left: 118%;
    top: 24px;
  }
  
  .produse-romanesti {
    height:100px;
    left: 196%;
    top: 28px;
  }
}
@media(min-width: 1383px) { 
  #footer {
    height: 200px;
    top: 2200px!important;
  }
  
  .contact {
    left:150px;
    top: 40px;
  }
  
  .brand-romanesc {
    height: 100px;
    left: 188%;
    top: 24px;
  }
  
  .produse-romanesti {
    height:100px;
    left: 266%;
    top: 28px;
  }
}

