@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");
@font-face {
  font-family: muchosanslight;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}



[class*="close-"] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background-color: transparent;
  margin: 0;
  padding: 0;

}
.close-thik:after {
  content: "✖";
}

div.model {
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0px;
  width: 100vw;
}

img#background {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

img#mobile {
  display: block;
  margin: 0 auto;

  width: 100%;
  height: auto;
}

.hover-question {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  display: block;
  z-index: 100;
}

.hover-text,
.onhover-quiz-bttn,
.onhover-findoutMore-bttn {
  position: absolute;
  font-family: muchosanslight;
}

#building-line-1 {
  position: relative;
  height: 50px;
  background: black;
  top: 270px;
  width: 200px;
}

.not-hovered-question {
  display: none;
}

.check {
  position: relative;
  top: 10px;
  left: 10px;
}

.hover-text {
  position: relative;
  font-family: "PT Serif", serif;
}

.loading {
  position: relative;
  top: 300px;
  left: 700px;
  background: coral;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.onhover-quiz-bttn,
.onhover-findoutMore-bttn {
  margin: 10px 0px 10px;
}

.onhover-quiz-bttn {
  position: relative;
 
  margin: 10px 0px 10px;
}

.onhover-findoutMore-bttn {
  position: relative;
}

.bttn-text {
  position: relative;
}
.hover-text {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 410px) {
  .antireumatica {
    top: 57vw;
    left: 26vw;
  }

  .picioare {
    top: 125vw;
    left: 23vw;
  }

  .par {
    top: 26vw;
    left: 16vw;
  }

  .ten {
    top: 35vw;
    left: 25vw;
  }

  .maini {
    top: 7vw;
    left: 21vw;
  }

  .corp {
    top: 86vw;
    left: 27vw;
  }

  .hover-question {
    height: auto;
    width: 90%;
    left: 3%;
    top: 50px;
    background-color: white;
  }

  .hover-text {
    width: 79%;
    left:11%;
  }

  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left:5%;
    width: 90%;
    height: auto;
    font-size: 14px;
  }

 



  img#background {
    display: none;
  }

  /* div.model {
    margin: 0px 0px 0px !important;
  } */
}

@media (min-width: 411px) and (max-width: 600px) {
  .antireumatica {
    top: 43vw;
    left: 12vw;
  }

  .picioare {
    top: 103vw;
    left: 13vw;
  }

  .par {
    top: 22vw;
    left: 14vw;
  }

  .ten {
    top: 29vw;
    left: 20vw;
  }

  .maini {
    top: 6vw;
    left: 17vw;
  }

  .corp {
    top: 60vw;
    left: 23vw;
  }

  .hover-question {
    height: auto;
    width: 90%;
    left: 5%;
    top:60px;
    background-color: white;
    font-size: 15px;
  }

  .hover-text {
    width: 80%;
    left: 10%;
  }

  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left: 6%;
    width: 87%;
    font-size: 14px;
  }

  img#background {
    display: none;
  }

  div.model {
    width: 80%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .antireumatica {
    top: 43vw;
    left: 11vw;
  }

  .picioare {
    top: 92vw;
    left: 13vw;
  }

  .par {
    top: 22vw;
    left: 13vw;
  }

  .ten {
    top: 26vw;
    left: 18vw;
  }

  .maini {
    top: 6vw;
    left: 16vw;
  }

  .corp {
    top: 58vw;
    left: 23vw;
  }

  /* .hover-question {
    height: 200px;
    width: 62vw;
    left: 19%;
    top: 30vh;
    background-color: white;
  }

  .onhover-quiz-bttn {
    top: 129px;
    left: 10%;
    width: 160px;
    font-size: 14px;
    height: 40px;
  }

  .onhover-findoutMore-bttn {
    top: 129px;
    left: 54%;
    width: 160px;
    height: 40px;
  }

  .hover-text {
    width: 48vw;
    top: 20px;
  }

  .check {
    top: 40px;
  }

  .bttn-text {
    left: 22%;
    top: 10px;
  } */
  .hover-question {
    height: auto;
    width: 77%;
    left: 12%;
    top: 180px;
    background-color: white;
  }
  .hover-text {
    width: 90%;
    left: 5%;

  }
  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left: 5%;
    width: 90%;
    font-size: 14px;
  }

 

  .bttn-text {
    left: 20%;
    /* top: 20px; */
  }
  img#background {
    display: none;
  }

  div.model {
    width: 70%;
    left: 0%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .antireumatica {
    top: 22vw;
    left: 20vw;
  }

  .picioare {
    top: 40vw !important;
    left: 23vw;
  }

  .par {
    top: 10vw;
    left: 20vw;
  }

  .ten {
    top: 12vw;
    left: 23vw;
  }

  .maini {
    top: 4vw;
    left: 21vw;
  }

  .corp {
    top: 28vw;
    left: 24vw;
  }

  .hover-question {
    height: auto;
    width: 60%;
    left:37%;
    top: 70px;
    background-color: white;
  }



  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left: 7%;
    width: 90%;
  }

  .hover-text {
    width: 83%;
    left: 8%;
  }
 
    /* top: 20px; */


  div.model {
    width: 70%;
  }

  #mobile-img {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .antireumatica {
    top: 22vw;
    left: 20vw;
  }

  .picioare {
    top: 41vw;
    left: 23vw;
  }

  .par {
    top: 11vw;
    left: 20.5vw;
  }

  .ten {
    top: 13vw;
    left: 23vw;
  }

  .maini {
    top: 4vw;
    left: 22vw;
  }

  .corp {
    top: 28vw;
    left: 25vw;
  }

  .hover-question {
    height: auto;
    max-width: 50%;
    left:37%;
    top: 70px;
    background-color: white;
  }



  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left: 6%;
    width: 90%;
  }

  .hover-text {
    width: 83%;
    left: 8%;
  }


  div.model {
    width: 70vw;
  }

 #mobile-img {
    display: none;
  }
}

@media (min-width: 1383px) {
  .antireumatica {
    top: 19vw;
    left: 17.5vw;
  }

  .picioare {
    top: 35.5vw;
    left: 18vw;
  }

  .par {
    top: 9vw;
    left: 18.5vw;
  }

  .ten {
    top: 11.5vw;
    left: 20vw;
  }

  .maini {
    top: 4vw;
    left: 19vw;
  }

  .corp {
    top: 25vw;
    left: 21vw;
  }

  .hover-question {
    height: auto;
    max-width: 40%;
    left:47%;
    top: 170px;
    background-color: white;
  }



  .check {
    display: none;
  }

  .onhover-quiz-bttn,
  .onhover-findoutMore-bttn {
    left: 6%;
    width: 90%;
  }

  .hover-text {
    width: 83%;
    left: 8%;
  }

  div.model {
    width: 60vw;
  }

  img#mobile-img {
    display: none;
  }
}
