
@font-face {
  font-family: thirsty;
  src: url(./assets/Thirsty.ttf);
}

.snackFade-enter {
  opacity: 0;
}

.snackFade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.snackFade-leave {
  opacity: 1;
}

.snackFade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.snackFade-appear {
  opacity: 1;
}

.snackFade-appear-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* #root {
  width: 100%;
} */


.homepage-container {
  margin: 0 auto;
  position: relative;
}
.wave1, .wave2, .wave3 {
  position: relative!important;
  margin: 0 auto!important;
}

.App {
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

.form-control {
  border-radius: 10px;
  z-index: 1000;
}

.form {
  position: absolute;
  z-index: 100;
  align-items: center;
}

.submit {
  position: absolute;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 130px;
  left: 30%;
  z-index: 100;
}


.modal-congrats {
  font-family: thirsty;
  left: 30%;
  position: absolute;
  font-size: 44px;
  padding-bottom: 5px;
}

@media (min-width: 0px) and (max-width: 400px) {

  .form {
    width: 89vw;
    left: 9%;
    top: 30px;
  }
 
  .wave1,
  .wave2 {
    width: 95%;
    margin: 0 auto;
  }

}

@media (min-width: 401px) and (max-width: 599px) {

  .form {
    width: 60vw;
    left: 67%;
    top: 28px;
  }
 
  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 5%;
  }

}

@media (min-width: 600px) and (max-width: 768px) {

  .form {
    width: 40vw;
    top: 20px;
    left: 56vw;
  }

  .myinput {
    height: 28px;
  }

  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 4%;
  }


}

@media (min-width: 769px) and (max-width: 992px) {

  .form {
    width: 40vw;
    top: 18px;
    left:57vw;
  }

  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 5%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {

  .form {
    width: 29vw;
    top: 18px;
    left: 68vw;
  }

  .wave1,
  .wave2  {
    width: 69vw;
    left: 14%;
  }

}

@media (min-width: 1383px) {

  .form {
    width: 16vw;
    top: 10px;
    left: 81.5vw;
  }

  .wave1, 
  .wave2 {
    width: 65%;
    left:17%;
  }

}
