
/* html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
} */

/* #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 600px;    /* Footer height */
/* } */


.snackFade-enter {
  opacity: 0;
}
.snackFade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.snackFade-leave {
  opacity: 1;
}
.snackFade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.snackFade-appear {
  opacity: 1;
}
.snackFade-appear-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

#root {
  width: 100vw;
}
.wave1, .wave2, .wave3 {
  position: relative!important;
}
.App {
  height: 100%;
  width: 100vw!important;
  margin: 0;
  padding: 0;
  left: 0%;
  position: relative;
}
#page-container {
  width: 100%!important;
}
.form-control {
  border-radius: 10px;
  z-index: 1000;
}
.form {
  position: absolute;
  z-index: 100;
  align-items: center;
}
.submit {
  position: absolute;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 130px;
  left: 30%;
  z-index: 100;
}

@font-face {
  font-family: thirsty;
  src: url(./assets/Thirsty.ttf);
}

.modal-congrats {
  font-family: thirsty;
  left: 30%;
  position: absolute;
  font-size: 44px;
  padding-bottom: 5px;
}
/*login/signup form*/
@media (min-width: 0px) and (max-width: 400px) {
  .form {
    width: 89vw;
    left: 9%;
    top: 30px;
  }
 
  .wave1 {
    top: 1890px !important;
    left: 3%;
    width: 85vw;
  }
 .wave2 {
    top: 3145px!important;
    left: 4%;
    width: 85vw;
    z-index: 2000;
  }
 .wave3 {
    top: 3390px !important;
    left: 4%;
    width: 85vw;
  } 
}

@media (min-width: 401px) and (max-width: 599px) {
  .form {
    width: 60vw;
    left: 67%;
    top: 28px;
  
  }
 .wave2 {
    top: 3140px!important;
    left: 7%;
    width: 83vw!important;
  }
  .wave1 {
    top: 1799px!important;
    left: 7%;
    width: 83vw!important;
  }
.wave3 {
    top: 3290px!important;
    left: 7%;
    width: 83vw;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .form {
    width: 40vw;
    top: 20px;
    left: 56vw;
  }
  .myinput {
    height: 28px;
  }
  img.wave1 {
    top: 2360px!important;
    width: 70vw;
    left: 14%;
  }
  .wave2 {
    top: 3400px;
    width: 70vw;
    left: 14%;
  }
 .wave3 {
    top: 3600px;
    width: 70vw;
    left: 14%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .form {
    width: 40vw;
    top: 18px;
    left:57vw;
  }

  .wave1 {
    top: 1890px;
    width: 72vw;
    left: 13%;
  }

.wave2 {
    top: 2950px;
    width: 72vw;
    left: 13%;
  }
.wave3 {
    top: 3100px;
    width: 72vw;
    left: 13%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .form {
    width: 29vw;
    top: 18px;
    left: 68vw;
  }
  .wave1 {
    top: 2090px;
    width: 69vw;
    left: 13%;
  }

.wave2 {
    top: 2950px;
    width: 69vw;
    left: 13%;
  }
.wave3 {
    top: 3100px;
    width: 72vw;
    left: 13%;
  }
}

@media (min-width: 1383px) {
  .form {
    width: 16vw;
    top: 10px;
    left: 81.5vw;
  }
  .wave1 {
    top: 2440px;
    width: 60vw;
    left: 19%;
  }

.wave2 {
    top: 3250px;
    width: 60vw;
    left: 19%;
  }
.wave3 {
    top: 3500px;
    width: 60vw;
    left: 19%;
  }
}
