
@font-face {
  font-family: thirsty;
  src: url(./assets/Thirsty.ttf);
}
.formErrors {
  position: relative;
  display: flex;
}
.snackFade-enter {
  opacity: 0;
}

.snackFade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.snackFade-leave {
  opacity: 1;
}

.snackFade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.snackFade-appear {
  opacity: 1;
}

.snackFade-appear-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* #root {
  width: 100%;
} */


.homepage-container {
  margin: 0 auto;
  position: relative;
}
.wave1, .wave2, .wave3 {
  position: relative!important;
  margin: 0 auto!important;
}

.App {
  margin: 0;
  padding: 0;
}

.form-control {
  z-index: 1000;
}

.form {
  position: absolute;
  z-index: 100;
  align-items: center;
  box-shadow: 0 0.2px 0.2px rgba(0,0,0,0.12), 
  0 1px 1px rgba(0,0,0,0.12), 
  0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12);
}
form:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);

}

.submit {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 100%;
  z-index: 100;
}

.form-container {
  width: 91vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;

  align-content: center;
}
.modal-congrats {
  font-family: thirsty;
  left: 30%;
  position: absolute;
  font-size: 44px;
  padding-bottom: 5px;
}

@media (min-width: 0px) and (max-width: 400px) {

  .form {
    height: auto;
    background-color: white;
    width: 100%;
    top: -10px;
    left: 2.2%;
  }
 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }
 .submit {
   width: 80%;
   left: 6%;
   margin: 11px;
 }
  .wave1,
  .wave2 {
    width: 95%;
    margin: 0 auto;
  }

}

@media (min-width: 401px) and (max-width: 599px) {
  .form {
    height: auto;
    background-color: white;
    width: 60%;
    top: -10px;
    left: 23%;
  }

 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }
 
 .submit {
   width: 80%;
   left: 4.6%;
   margin: 11px;
 }
 
  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 5%;
  }

}

@media (min-width: 600px) and (max-width: 768px) {
  .form {
    height: auto;
    background-color: white;
    width: 40%;
    background-color: white;
    top: -10px;
    left: 56vw;
  }
 

 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }
 
 .submit {
   width: 80%;
   left: 4.6%;
   margin: 11px;
 }

  .myinput {
    height: 28px;
  }

  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 4%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .form {
    height: auto;
    background-color: white;
    width: 30%;
    background-color: white;
    top: -33px;
    left:73%;
  }
 

 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }
 
 .submit {
   width: 80%;
   left: 4.6%;
   margin: 11px;
 }
 
  .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 5%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {

  .form {
    height: auto;
    background-color: white;
    width: 30%;
    background-color: white;
    top: -33px;
    left:73%;
  }
 

 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }
 
 .submit {
   width: 80%;
   left: 4.6%;
   margin: 11px;
 }
 
  /* .wave1,
  .wave2 {
    width: 88%;
    margin: 0 auto;
    left: 5%;
  } */

  .wave1,
  .wave2  {
    width: 69vw;
    left: 14%;
  }

}

@media (min-width: 1383px) {

  .form {
    height: auto;
    background-color: white;
    width: 20%;
    background-color: white;
    top: -33px;
    left:86%;
  }
 

 .form-control {
  width: 90%;
  left: 5%;
  top: 11px;
  align-self: center;
  position: relative;
 }

 .submit {
   width: 80%;
   left: 4.6%;
   margin: 11px;
 }
  .wave1, 
  .wave2 {
    width: 65%;
    left:16%!important;
  }

}
