@font-face {
  font-family: muchoThin;
  src: url(../../../../../assets/Mucho_Sans_Thin.otf);
}

.firstans, .secondans {
  position: relative;
  width:70%;
}

.admin-container {
margin: 0 auto;
padding: 0;
width: 100%;
text-align: center;
display: block;
}

.ac-question {
  position: relative;
}

.ac-f-ans {
  position: relative;
  width: 90%;
}

.ac-s-ans {
  position: relative;
  width: 90%;

}

.q-c-img-title {
  position: relative;
  font-family: 6px;
  font-family: muchoThin;
}

.ac-img-src {
  position: relative;
}

.mySaveCardQuiz-bttn {
  position: relative;
  font-family: muchoThin;
}

* {
  box-sizing: border-box;
}