/* .nav-container {
  position: relative;
  width: 80vw;
} */
/* .wave-admin { 
  position: relative;
  width: 104%;
  margin: 0;
  padding: 0;
} */
.nav-container {
  position: relative;
}

@font-face {
  font-family: muchosanslight;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}
.nav-container {
  position: relative;
  font-family: muchoThin;
}

.custom-btn {
  width: 40%;
  margin: 3%;
  border-radius: 12px;
  text-align: center;
  font-family: muchosanslight;
  position: relative;

}
.display-none {
  display: none !important;
}

.quiz-admin-cards-container,
.info-cards {
  position: relative;

}

#footerQ {
  position: relative;
  top: 100%;
}

@media (min-width: 0px) and (max-width: 400px) {
  .nav-container {
    left: 3%;
  }
  /* .wave-admin {
    top: 170px;
    left: -5px!important;
    width: 104%;
 }  */
}

@media (min-width: 401px) and (max-width: 600px) {
  .nav-container {

    left: 4%;
  }
  .wave-admin {
    top: 170px;
    left: -15px!important;
    width: 104%;
 } 
}

@media (min-width: 601px) and (max-width: 768px) {
 
  .wave-admin {
    top: 40px;
    left: -20px!important;
    width: 104%;
 } 
}

@media (min-width: 769px) and (max-width: 992px) {
  .nav-container {
    top: 20px;
    left: 15%;
  }
  .wave-admin {
    top:25px;
    left: -27px!important;
    width: 104%;
 } 
}

@media (min-width: 993px) and (max-width: 1382px) {
    .nav-container {
        top: 20px;
        left: 23%;
      }
      .wave-admin {
        top:33px;
        left: -29px!important;
        width: 104%;
     } 
}

@media (min-width: 1383px) {
    .nav-container {
        top: 20px;
        left: 33%;
      }
      .wave-admin {
        top:33px;
        left: -59px!important;
        width: 104%;
     } 
}
