.admin-nav {
  position: relative;
  font-family: muchoThin;
  width: 80vw;
}
.wave-admin { 
  position: relative;
  width: 104%;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: muchosanslight;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}
.nav-container {
  min-width: 330px;
  max-width: 720px;
}
.custom-btn {
  width: 40%;
  margin: 3%;
  border-radius: 12px;
  text-align: center;
  font-family: muchosanslight;

}
.display-none {
  display: none !important;
}

.quiz-admin-cards-container,
.info-cards {
  position: absolute;
  top: 30vh;
}

#footerQ {
  position: relative;
  top: 100%;
}

@media (min-width: 0px) and (max-width: 400px) {
  .admin-nav {
    top: 140px;
    left: 6%;
  }
  .wave-admin {
    top: 170px;
    left: -5px!important;
    width: 104%;
 } 
}

@media (min-width: 401px) and (max-width: 600px) {
  .admin-nav {
    top: 150px;
    left: 4%;
  }
  .wave-admin {
    top: 170px;
    left: -15px!important;
    width: 104%;
 } 
}

@media (min-width: 601px) and (max-width: 768px) {
  .admin-nav {
    top: 20px;
    left: 4%;
  }
  .wave-admin {
    top: 40px;
    left: -20px!important;
    width: 104%;
 } 
}

@media (min-width: 769px) and (max-width: 992px) {
  .admin-nav {
    top: 20px;
    left: 15%;
  }
  .wave-admin {
    top:25px;
    left: -27px!important;
    width: 104%;
 } 
}

@media (min-width: 993px) and (max-width: 1382px) {
    .admin-nav {
        top: 20px;
        left: 23%;
      }
      .wave-admin {
        top:33px;
        left: -29px!important;
        width: 104%;
     } 
}

@media (min-width: 1383px) {
    .admin-nav {
        top: 20px;
        left: 33%;
      }
      .wave-admin {
        top:33px;
        left: -59px!important;
        width: 104%;
     } 
}
