.admin-nav {
  position: relative;
}
.nav-container {
  min-width: 330px;
  max-width: 720px;
}
.custom-btn {
  width: 40%;
  margin: 3%;
  border-radius: 12px;
  text-align: center;
}
.display-none {
  display: none !important;
}

.quiz-admin-cards-container,
.info-cards {
  position: absolute;
  top: 30vh;
}

#footerQ {
  position: relative;
  top: 100%;
}

@media (min-width: 0px) and (max-width: 400px) {
  .admin-nav {
    top: 100px;
    left: 6%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .admin-nav {
    top: 100px;
    left: 4%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .admin-nav {
    top: 20px;
    left: 4%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .admin-nav {
    top: 20px;
    left: 10%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
    .admin-nav {
        top: 20px;
        left: 20%;
      }
}

@media (min-width: 1383px) {
    .admin-nav {
        top: 20px;
        left: 20%;
      }
}
