@font-face {
  font-family: muchosans;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}
.distribution-container {
  /* width: 100vw; */
  position: relative;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

h3.national-dis-title {
  font-size: 44px;
  margin: 0 auto;
}

.distribution,
.first-national-desc,
h3.national-dis-title {
  margin: 0 auto;
}

.distribution {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  text-align: center;
}

.n-partener {
  align-self: stretch;
}

.first-national-desc,
h3.national-dis-title {
  position: relative;
  font-family: muchosans;
}

.national,
.distribution {
  position: relative !important;
}

@media (min-width: 0px) and (max-width: 400px) {
  div.distribution {
    width: 80% !important;
  }

  h3.national-dis-title {
    font-size: 8vw;
    padding-top: 22px;
    padding-bottom: 33px;
    
  }

  .first-national-desc {
    font-size: 6vw;
    width: 84%;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .n-partener {
    max-width: 300px;
    width: 100%;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .carturesti {
    width: 350px !important;
    height: auto;
  }

  .distribution {
    margin: 0 auto;
    width: 70%;
  }

  .dm {
    margin: 34px 0px 30px;
  }

  h3.national-dis-title {
    font-size: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .first-national-desc,
  .second-national-desc {
    font-size: 4vw;
    width:82%;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .n-partener {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .carturesti {
    width: 350px !important;
    height: auto;
  }

  .distribution {
    margin: 0 auto;
    width: 55%;
  }

  .dm {
    margin: 34px 0px 30px;
  }

  h3.national-dis-title {
    font-size: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .first-national-desc,
  .second-national-desc {
    font-size: 3vw;
    width:77%;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .n-partener {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .carturesti {
    width: 350px !important;
    height: auto;
  }

  .distribution {
    margin: 0 auto;
    width: 45%!important;
  }

  .dm {
    margin: 34px 0px 30px;
  }

  h3.national-dis-title {
    font-size: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .first-national-desc,
  .second-national-desc {
    font-size: 3vw;
    width: 76%;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .n-partener {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 993px) and (max-width: 1382px) {
  .carturesti {
    width: 350px !important;
    height: auto;
  }

  .distribution {
    margin: 0 auto;
    width: 30%!important;
  }

  .dm {
    margin: 34px 0px 30px;
  }

  h3.national-dis-title {
    font-size: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .first-national-desc,
  .second-national-desc {
    font-size: 2.2vw;
    width: 63%;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .n-partener {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1383px) {
  .carturesti {
    width: 350px !important;
    height: auto;
  }

  .distribution {
    margin: 0 auto;
    width: 66%!important;
  }

  .dm {
    margin: 34px 0px 30px;
  }

  h3.national-dis-title {
    font-size: 29px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .first-national-desc,
  .second-national-desc {
    font-size: 29px;
    width: 63%;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .n-partener {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
