.gMap {
  position: relative;
  z-index: 1000;
}
a {
  color: darkgoldenrod;
  font-weight: bold;;
}
a:hover {
  color:darkgoldenrod;

}
@font-face {
  font-family: muchosans;
  src: url(../../../../assets/MuchoSans.rar);
}
.map-msg  {
  z-index: 1000;
  font-family: mochosans;
  text-align: center!important;
}
.map-title { 
  position: absolute;
  text-align: center;

}
.map-msg { 
  position: absolute;
  font-size: 22px;
}

@media (min-width: 0px) and (max-width: 399px) {
  .gMap, .map {
    width: 100vw;
    height: 600px;
    top: 450px;
    left: 0%; 
  
  }
  .map-title {
    top: 200px;
    left: 1vw;
    font-size: 22px;
    width: 90vw;
  }
  .map-msg {
    top: 1090px;
  }
}

/* @media (min-width: 481px) and (max-width: 600px) {
  .gMap {
    width: 90vw;
    height: 70vh;
    top: 600px;
    left: 1%;
  }
  .map-title {
    top: 28vh;
    left: 1vw;
    font-size: 22px;
    width: 90vw;
  }
  .map-msg {
    top: 127vh;
  }
} */

@media (min-width: 400px) and (max-width: 599px) {
  .gMap {
    width: 99vw !important;
    height: 700px !important;
    top: 420px;
    left: 0%;
  }
  .map-title {
    top: 190px;
    left: 2%;
    font-size: 22px;
    width: 90vw;
  }
  .map-msg {
    top: 1170px;
    font-size: 19px;
    left: 4%;
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .gMap {
    width: 600px!important;
    height: 70vh !important;
    top:500px;
    left: 6%;
  }
  .map-title {
  top: 360px;
    left: 8vw;
    font-size: 22px;
    width: 80vw;
  }
  .map-msg {
   top: 1530px;
    width: 80vw;
    left: 8%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 54vh;
    left: 3%;
  }
  .map-title {
    top: 40vh;
    left: 7vw;
    font-size: 22px;
    width: 80vw;
  }
  .map-msg {
    top: 127vh;
    width: 80vw;
    left: 8%;
  }
}

@media (min-width: 1383px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 54vh;
    left: 3%;
  }
  .map-title {
    top: 40vh;
    left: 7vw;
    font-size: 22px;
    width: 80vw;
  }
  .map-msg {
    top: 127vh;
    width: 80vw;
    left: 6%;
  }
}
