@font-face {
  font-family: muchosanslight;
  src: url(../../../../assets/Mucho_Sans_Light.otf);
}
@font-face {
  font-family: muchosans;
  src: url(../../../../assets/MuchoSans.rar);
}
/* .map {
  position: relative;
  width: 100vw!important;
  margin: 0;
  padding: 0;
} */
/* .mapz {
  position: relative;
  width: 100vw!important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
} */
.gMap {
  position: relative!important;
  z-index: 1000;
}
a {
  color: darkgoldenrod;
  font-weight: bold;
}
a:hover {
  color: darkgoldenrod;
}


.map-title {
  position: relative;
  text-align: center;
  font-family: muchosanslight;
}
.map-msg {
  position: relative!important;
  font-size: 22px;
  z-index: 1000;
  font-family: muchosanslight;
  text-align: center !important;
}

@media (min-width: 0px) and (max-width: 399px) {
  .gMap {
    width: 85vw!important;
    height: 600px!important;
    left: 1%;
  }
  .map-title {
    font-size: 22px;
    width: 83vw;
    left: 1%;

  }
  .map-msg {
    width: 85vw;
  }
}


@media (min-width: 400px) and (max-width: 599px) {
  .gMap {
    width: 80vw !important;
    height: 500px !important;
    /* top: 850px; */
    left: 6%;
  }
  .map-title {
    /* top: 570px; */
    left: 6%;
    font-size: 22px;
    width: 80vw;
  }
  .map-msg {
    /* top: 1400px; */
    font-size: 19px;
    left: 6%;
    width: 80vw;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .gMap {
    width: 70vw !important;
    height: 600px !important;
    /* top: 1290px; */
    left: 13%;
  }
  .map-title {
    /* top: 1000px; */
    left: 13%;
    font-size: 26px;
    width: 68vw;
  }
  .map-msg {
    /* top: 2030px; */
    width: 68vw;
    left: 13%;
    font-size: 26px;

  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .gMap {
    width: 70vw !important;
    height: 600px !important;
    /* top: 930px; */
    left: 13%;
  }
  .map-title {
    /* top: 610px; */
    left: 13%;
    font-size: 26px;
    width: 68vw;
  }
  .map-msg {
    /* top: 1600px; */
    width: 68vw;
    left: 13%;
    font-size: 26px;

  }
}
@media (min-width: 993px) and (max-width: 1382px) {
  .gMap {
    width:69vw !important;
    height: 700px!important;
    /* top: 1040px;; */
    left: 14%;
  }
  .map-title {
    /* top: 800px; */
    left: 14%;
    font-size: 30px;
    width: 69vw;
  }
  .map-msg {
    /* top: 1800px; */
    width: 69vw;
    left: 14%;
    font-size: 30px;

  }
}

@media (min-width: 1383px) {
  .gMap {
    width: 60vw !important;
    height: 700px !important;
    /* top: 1300px; */
    align-self: center;
    left: 19%;
  }
  .map-title {
    /* top: 1020px; */
    align-self: center;
    font-size: 33px;
    width: 60vw;
    left: 19%;
  }
  .map-msg {
    /* top: 2100px; */
    width: 60vw;
    left: 19%;
    align-self: center;
    font-size: 33px;
  }
}
