
 .info-cards{
    text-align: center;

 }
 .card{
     top: 20px;
     margin: 10%;
     width: 350px!important;
     font-family: muchoThin;
 }

 .info-cards , .quiz-admin-cards-container {
    position: relative;
}
 @font-face {
    font-family: muchoThin;
    src: url(../../../../assets/Mucho_Sans_Thin.otf);
  }


  @media (min-width: 0px) and (max-width: 400px) {
 .info-cards , .quiz-admin-cards-container {
    top: 270px!important;
    left: 2%!important;
 }
  }
  
  @media (min-width: 401px) and (max-width: 600px) {
    .info-cards , .quiz-admin-cards-container {
        top: 270px!important;
     }
     .info-cards {
        left: 6%!important;
     }
     .quiz-admin-cards-container {
         left: 4%;
     }
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
    .info-cards , .quiz-admin-cards-container {
        top: 270px!important;
     }
     .info-cards {
        left: 15%!important;
     }
     .quiz-admin-cards-container {
         left: 14%;
     }
  
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .info-cards , .quiz-admin-cards-container {
        top: 270px!important;
     }
     .info-cards,.quiz-admin-cards-container {
        left: 1%!important;
     }
    
    
  }
  
  @media (min-width: 993px) and (max-width: 1382px) {
    .info-cards , .quiz-admin-cards-container {
        top: 360px!important;
     }
     .info-cards,.quiz-admin-cards-container {
        left: 2%!important;
        width: 90%;

     }
    
  }
  
  @media (min-width: 1383px) {
    .info-cards , .quiz-admin-cards-container {
        top: 470px!important;
     }
     .info-cards,.quiz-admin-cards-container {
        left: 15%!important;
        width: 70%;
     }
  }