@font-face {
   font-family: muchoThin;
   src: url(../../../../assets/Mucho_Sans_Thin.otf);
 }
 @font-face {
   font-family: thirsty;
   src: url(../../../../assets/Thirsty.ttf);
 }
 @font-face {
   font-family: muchosanslight;
   src: url(../../../../assets/Mucho_Sans_Light.otf);
 }
 .info-cards{
    text-align: center;

 }
 .card {
    position: relative;
     margin: 30px 0px 30px;
     font-family: muchosanslight;
 }

 .quiz-admin-cards-container {
    position: relative;
}
 @font-face {
    font-family: muchosanslight;
    src: url(../../../../assets/Mucho_Sans_Thin.otf);
  }


  @media (min-width: 0px) and (max-width: 400px) {
 .info-cards , .quiz-admin-cards-container {
    left:5%!important;
 }
  }
  
  @media (min-width: 401px) and (max-width: 600px) {
     .info-cards {
        left: 22%!important;
     }
     .quiz-admin-cards-container {
         left: 11%;
     }
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
 
     .info-cards {
        left: 28%!important;
        width: 80%;
     }
     .quiz-admin-cards-container {
         left: 24%;
     }
  
  }
  
  @media (min-width: 769px) and (max-width: 992px) {

     .info-cards,.quiz-admin-cards-container {
        left: 7.5%!important;
        width: 90%;
     }
  }
  
  @media (min-width: 993px) and (max-width: 1382px) {

     .info-cards,.quiz-admin-cards-container {
      left: 9%!important;
      width: 90%;

     }
    
  }
  
  @media (min-width: 1383px) {

     .info-cards {
        left: 15%!important;
        width: 70%;
     }
     .quiz-admin-cards-container {
      left: 18%!important;
      width: 70%;
     }
  }